@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

/* * { 
    box-sizing: border-box;
} */

body{
    width: 100vw;
    height: 100%;
    background-color: #fef6eb;
    font-family: 'PT Sans Caption', sans-serif;
}

Header{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    background-color: #cfd6ce;
    margin: 0px;
    padding: 10px;
}

#cabeçalho{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
}

#banner{
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Courgette', cursive;
    text-align: center;
    align-content: space-between;
    align-items: center;
}


#banner h1{
    font-size: 60px;
    margin: 10px;
    color: #015f01;
}

#banner h2{
    font-size: 40px;
    margin: 10px;
    color: #015f01;
}

#logo{
    margin: 10px;
    align-items: center;
    width: 240px;
}

nav{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

#menu a{
    text-decoration: none;
    align-items: center;
    padding: 5px;
    box-shadow: 7px 3px 10px 2px rgb(160, 159, 159);
    -webkit-box-shadow: 7px 3px 10px 2px rgba(160, 159, 159, 1);
    -moz-box-shadow: 7px 3px 10px 2px rgba(160, 159, 159, 1); 
}

#menu a:link{
    color: #333333;
}

    #menu a:hover{
        background-color: #a3a0a0;
        color: white;
        box-shadow: 2px 2px 2px  white;
    }

#corpo{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    background-image: url(img/fundo100.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#ladoEsquerdo, #ladoDireito{
    background-color: rgba(255,246,235,255);
}

section{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    height:auto;
}

.lol{
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.lol p{
    font-size: 18px;
    text-align: justify;
    padding: 0% 2% 0% 2% ;
    margin: 0px 10px 0px 10px;
    text-indent: 60px;
}


.title{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.sublinhado{
    margin-top: 0px;
    box-shadow: none;
    margin-left: -80px;
    height: 10px;
    border-radius: 0px;
    background-image: #333333;
    margin-bottom: 30px;
}

.mol{
    width: 430px;
}       

.rel{
    width: 385px;
}

.vent{
    width: 290px;
}

.art{
    width: 265px;
}

.title h1{
    font-size: 34px;
    margin-bottom: 0px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #015f01;
}

#frase{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

#frase p{
    font-size: 38px;
    font-weight: 800;
    color: #333333;
    text-align: center;
}

#frase .fse{
    width: 60%;
    height: 10px;
}

#frase #aspas{
    width: 5%;
}

.claro{
    background-image: linear-gradient(to right bottom, #c8eede, #bbe2d7, #b0d6cf, #a5c9c7, #9cbdbe);
}

.escuro{
    background-image: linear-gradient(to left bottom, #c8eede, #bbe2d7, #b0d6cf, #a5c9c7, #9cbdbe);
}

#frase .fse{
    width: 60%;
    height: 10px;
}

.card{
    display: flex;
    flex-direction: column;  
    align-items: center;
    background-color: #015f01;
}

.card .imagem{
    max-width: 40%;
    width: 100%;
    margin: 5%;
    border-radius: 20px;
     box-shadow: 7px 3px 10px 2px rgb(160, 159, 159);
    -webkit-box-shadow: 7px 3px 10px 2px rgba(160, 159, 159, 1);
    -moz-box-shadow: 7px 3px 10px 2px rgba(160, 159, 159, 1); 
}

.contextoEsq{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.contextoDir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#saiba{
    font-weight: 700;
    font-size: 20px;
    color: #a5c9c7;
    width: 100%;
    height: 50px;
    background-color: rgba(141,102,35,255);
    border: 1px solid #333333;
    cursor: pointer;
    border-radius: 10px;
    margin:20px 0px 20px 0px;
}

#saiba:hover{
    background-color: #9cbdbe;
    color: #333333;
    
}

/*AREA DO CONTATO*/
#contato{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

/* TRAÇO EMBAIXO DO TITULO */
#contato #cont{
    width: 150px;
    margin-top: 0px;
    box-shadow: none;
    margin-left: -80px;
    height: 10px;
    border-radius: 0px;
    background-image: #333333;
    margin-bottom: 30px;
}


#contatoPai{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    justify-content:space-around;
}

/* FORMATA O FORMULÁRIO DE CONTATO */
#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#formulario{
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.form-group input{
    width: 400px;
    border-radius: 10px;
    height: 30px;
    border: none;
    padding: 10px;
}

.form-group textarea{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    border-radius: 10px;
    height: auto;
    border: none;
    padding: 10px;
    resize: none;
}

.form-group input::placeholder{
    color: rgb(82, 80, 80);
    font-size: 18px;
    text-align: center;
}

.form-group textarea::placeholder{
    color: rgb(82, 80, 80);
    font-size: 18px;
    text-align: center;
}

.form-group label{
    margin-top: 5px;
    margin-bottom: 5px;
}

#formulario input[type="submit"]{
    width: 200px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    background-color: #015f01;;
    color: #bdd1de;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
}

/* FORMATA A PARTE DE ENDEREÇO E CONTATO */
#end{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
}

#lista{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 20px;
    list-style: none;
}

#lista{ 
    margin: 0px;
    padding: 0px;
}

#lista ul li {
    padding: 5px;
}

#lista ul li i{
    font-family: 'Roboto', sans-serif;
}

#lista a{
    text-decoration: none;
    color:rgb(202, 16, 16);
}

#lista .sem{
    text-decoration: none;
    color: #333333;
}

/* RODAPÉ */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #cfd6ce; 
    margin-top: -60px;
    align-items: center;
}

footer h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

footer a{
    text-decoration: none;
    color:rgb(202, 16, 16);
}

/* AJUSTA PARA AREAS MENOR QUE 1250PX */
    @media (max-width: 1250px) {

        nav{
            font-size: 14px;
            padding: 10px;
            margin: 10px;
        }
        .contextoEsq, .contextoDir{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        #banner h1{
            font-size: 40px;
            margin: 5px;
        }
        
        #banner h2{
            font-size: 20px;
            margin: 5px;
        }

        #logo{
            margin: 5px;
            align-items: center;
            width: 140px;
        }

        #corpo{
            grid-template-columns: 0% 100% 0%;
            background-image: url(img/fundo50.jpg);
            background-size: 100%;
        }

        #frase p{
            font-size: 28px;
            font-weight: 600;
        }
        
        #frase .fse{
            height: 7px;
        }

        .lol{
            max-width: 80%;
            width: 100%;
        }

        .card .imagem{
            max-width: 60%;
            width: 100%;
        }

        .title h1{
            font-size: 22px;
        }

        .sublinhado{
            margin-left: -30px;
            height: 8px;
        }
        
        .mol{
            width: 280px;
        }       
        
        .rel{
            width: 252px;
        }
        
        .vent{
            width: 190px;
        }
        
        .art{
            width: 165px;
        }

        #contato #cont{
            width: 100px;
            margin-left: -30px;
            height: 8px;
        }

        #saiba{
            font-size: 16px;
            color: #a5c9c7;
            width: 100%;
            height: 40px;
            border-radius: 6px;
            margin:10px 0px 10px 0px;
        }

        #contatoPai{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            align-content: center; 
        }

        #formulario input[type="submit"]{
            width: 150px;
            margin-top: 16px;
            margin-bottom: 20px;
            font-size: 18px;
        }

        #end{
            width: 80%;
            font-size: 18px;
        }

        .form-group input{
            border-radius: 7px;
            padding: 5px;
        }
        
        .form-group textarea{
            border-radius: 7px;
            padding: 7px;
        }

        .form-group textarea::placeholder{
            font-size: 14px;
        }
        
        .form-group input::placeholder{
            font-size: 14px;
        }

        footer h1{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #333333;
            text-align: center;
            margin-top: 80px;
        }
    }
    /* AJUSTA PARA AREAS MENOR QUE 900PX */
    @media (max-width: 900px) {

        nav{
            font-size: 12px;
            padding: 7px;
            margin: 7px;
        }
        .contextoEsq, .contextoDir{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        #banner h1{
            font-size: 40px;
            margin: 5px;
        }
        
        #banner h2{
            font-size: 20px;
            margin: 5px;
        }

        #logo{
            margin: 5px;
            align-items: center;
            width: 140px;
        }

        #corpo{
            grid-template-columns: 2% 96% 2%;
            background-image: url(img/fundo50.jpg);
            background-attachment: inherit;
        }

        #frase p{
            font-size: 20px;
            font-weight: 500;
        }
        
        #frase .fse{
            height: 7px;
        }

        .lol{
            max-width: 80%;
            width: 100%;
        }

        .card .imagem{
            max-width: 60%;
            width: 100%;
        }

        .title h1{
            font-size: 22px;
        }

        .sublinhado{
            margin-left: -30px;
            height: 8px;
        }
        
        .mol{
            width: 280px;
        }       
        
        .rel{
            width: 252px;
        }
        
        .vent{
            width: 190px;
        }
        
        .art{
            width: 165px;
        }

        #contato #cont{
            width: 100px;
            margin-left: -30px;
            height: 8px;
        }

        #saiba{
            font-size: 14px;
            color: #a5c9c7;
            width: 100%;
            height: 40px;
            border-radius: 6px;
            margin:10px 0px 10px 0px;
        }

        #contatoPai{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            align-content: center; 
        }

        #formulario input[type="submit"]{
            width: 100px;
            margin-top: 16px;
            margin-bottom: 20px;
            font-size: 14px;
        }

        #end #lista{
            width: 90%;
            font-size: 15px;
        }

        .form-group input{
            width: 300px;
            border-radius: 7px;
            padding: 5px;
        }
        
        .form-group textarea{
            width: 300px;
            border-radius: 7px;
            padding: 7px;
        }

        .form-group textarea::placeholder{
            font-size: 14px;
        }
        
        .form-group input::placeholder{
            font-size: 14px;
        }

        footer h1{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #333333;
            text-align: center;
            margin-top: 80px;
        }
        
    }

        /* AJUSTA PARA AREAS MENOR QUE 760px */
        @media (max-width: 760px) {

            nav{
                font-size: 14px;
                padding: 10px;
                margin: 10px;
            }
            .contextoEsq, .contextoDir{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            #menu{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
    
            #corpo{
                background-attachment: inherit;
                grid-template-columns: 0% 100% 0%;
            }
    
            footer h1{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #333333;
                text-align: center;
                margin-top: 80px;
            } 
        }

        /* AJUSTA PARA AREAS MENOR QUE 480px */
        @media (max-width: 480px) {

            body{
                margin: 0px;
            }

            #banner h1{
                font-size: 25px;
            }
            
            #banner h2{
                font-size: 18px;
            }
    
            #logo{
                width: 100px;
            }

            #frase p{
                font-size: 18px;
                font-weight: 700;
                margin: 0px;
            }
            
            #frase .fse{
                height: 0px;
                margin: 0;
                padding: 0;
            }

            nav{
                font-size: 12px;
            }
            .contextoEsq, .contextoDir{
                display: flex;
                flex-direction: column;
            }

            #menu{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            #section{
                margin: 0px;
            }

            #corpo{
                background-attachment: inherit;
                text-align: center;
                width: 100%;
            }
  
            footer h1{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #333333;
                text-align: center;
                margin-top: 80px;
            } 
        }
